*{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 1);
}
.banner{
    width: 100%;
    height: 75vh;
    background-image: linear-gradient(rgba(1,1,1,1),rgb(1,1,1,1));
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 100%;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #a129b7;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 50;
}
.content{
    width: 100%;
    position: absolute;
    top: 25%;
    /* transform: translateY(-50%); */
    text-align: center;
    color:#fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.lisa {
    background-color: rgb(248, 148, 220);
    width: 200px;
    border: 20px white;
    top: 30%;
    left: 20%;
    position: absolute;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
.julio {
    background-color: rgb(248, 148, 220);
    width: 200px;
    border: 20px white;
    top: 30%;
    right: 20%;
    position: absolute;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
.nabiha {
    background-color: rgb(248, 148, 220);
    width: 200px;
    border: 20px white;
    top: 50%;
    left: 20%;
    position: absolute;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
.mateo {
    background-color: rgb(248, 148, 220);
    width: 200px;
    border: 20px white;
    top: 50%;
    right: 20%;
    position: absolute;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
.elizabeth {
    background-color: rgb(248, 148, 220);
    width: 200px;
    border: 20px white;
    top: 70%;
    left: 20%;
    position: absolute;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
.roxanne {
    background-color: rgb(248, 148, 220);
    width: 200px;
    border: 20px white;
    top: 70%;
    right: 20%;
    position: absolute;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
.timeLineContainer{
    background-color: rgba(1,1,1,1);
    position: relative;
    height: 1500px;
    text-align: center;

}
.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
.text-box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.left-container{
    left: 0;
}
.right-container{
    left: 50%;
}
.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right:-20px;
    top: 32px;
    z-index: 3;

}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.right-container img{
    left: -20px;
}
.win1{
    background-color: brown;
    width: 25%;
    top: 6%;
    left: 7%;
    height: 25%;
    position: absolute;
    width: 6px;
    height: 100%;
    background: white;
    top: 0;
    left: 50%;
    margin-left: -2px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}
@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height:100%;
    }
}
.text-box h2{
    font-weight: 600;
}

.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}
.sum2{
    background-color:#a129b7;
    width: 25%;
    top: 6%;
    right: 7%;
    height: 25%;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    left:-15px;
}
.sum1{
    background-color:aquamarine;
    width: 25%;
    bottom: 6%;
    left: 35%;
    height: 25%;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    right:-15px;
}