*{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 1);
}
.banner{
    width: 100%;
    height: 75vh;
    background-color: black;
    background-size: cover;
    background-position: center;
    
}
.navbar{
    width: 100%;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #a129b7;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 50;
}
.animation{
    width: 98%;
    position: absolute;
    top: 25%;
    text-align: center;
    color:#fff;
    padding-bottom: 15vh;
    padding-top: 8vh;
    margin-left: 1.5vh;
    --border-size: 3px;
    --border-angle: 0turn;
    background-image: conic-gradient(from var(--border-angle), black, black 50%, black), conic-gradient(from var(--border-angle), transparent 20%, white, #a129b7);
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: bg-spin 3s linear infinite;
    background-image: conic-gradient(from var(--border-angle), black, black 50%, black), conic-gradient(from var(--border-angle), transparent 20%, white, #a129b7);
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: bg-spin 3s linear infinite;
  }
.content{
    width: 98%;
    position: absolute;
    top: 15%;
    text-align: center;
    color:#fff;
    padding-bottom: 15vh;
    padding-top: 8vh;
  }
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.lisa {
    background-color: rgb(248, 148, 220);
    width: 200px;
    border: 20px white;
    top: 30%;
    left: 20%;
    position: absolute;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
.lisapic {
    width: 10px;
    height: 10px;
}
.julio {
    background-color: rgb(248, 148, 220);
    width: 200px;
    border: 20px white;
    top: 30%;
    right: 20%;
    position: absolute;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
.nabiha {
    background-color: rgb(248, 148, 220);
    width: 200px;
    border: 20px white;
    top: 50%;
    left: 20%;
    position: absolute;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
.mateo {
    background-color: rgb(248, 148, 220);
    width: 200px;
    border: 20px white;
    top: 50%;
    right: 20%;
    position: absolute;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
.elizabeth {
    background-color: rgb(248, 148, 220);
    width: 200px;
    border: 20px white;
    top: 70%;
    left: 20%;
    position: absolute;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
.roxanne {
    background-color: rgb(248, 148, 220);
    width: 200px;
    border: 20px white;
    top: 70%;
    right: 20%;
    position: absolute;
    padding: 50px;
    margin: 20px;
    text-align: center;
}


.timeline{
    position: relative;
    max-width: 100%;
    max-height: 100vh;
    margin: 6vh auto;
    background-color: black;
    z-index: -2;
    /* border-style: solid;
    border-color: white; */
}
.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;


}
.text-box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.left-container{
    left: 0;
}
.right-container{
    left: 50%;

}
.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right:-20px;
    top: 32px;
    z-index: 3;

}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 3s;
}
.right-container img{
    left: -20px;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: white;
    top: 0;
    left: 50%;
    margin-left: -2px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}
@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height:100%;
    }
}
.text-box h2{
    font-weight: 600;
}

.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}
.rigth-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    left:-15px;
}
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    right:-15px;
}


@keyframes appear {
  0% {
  border-width: 0;
  border-top-width: 1px;
  border-bottom-width: 0;
}
50% {
  border-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
100% {
  border-width: 1px;
  border-top-width: 0;
  border-bottom-width: 1px;
}
}
/*
Bongo cat 
*/
:root {
    --bg: #1a1e2d;
    --green: #a5ea9b;
    --pink: #ff61d8;
    --blue: #569cfa;
    --orange: #ffcc81;
    --cyan: #7ed1e2;
  }

  .container-bongo {
    width: 80vw;
    height: 80vh;
    text-align: center;
    margin-left: 12%;
  }
  .container-bongo svg {
    height: 100%;
    width: 100%;
    overflow: visible;
    text-align: center;
  }
  
  #bongo-cat {
    fill: var(--bg);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4;
  }
  #bongo-cat .laptop-cover,
  #bongo-cat .headphone .band {
    fill: none;
  }
  #bongo-cat .paw, #bongo-cat .head {
    stroke: var(--orange);
  }
  #bongo-cat .laptop-keyboard {
    stroke-width: 2;
  }
  #bongo-cat .terminal-code {
    stroke-width: 5;
  }
  #bongo-cat .music .note,
  #bongo-cat .laptop-base,
  #bongo-cat .laptop-cover,
  #bongo-cat .paw .pads {
    stroke: var(--pink);
  }
  #bongo-cat .table line,
  #bongo-cat .headphone .band,
  #bongo-cat .headphone .speaker path:nth-child(3) {
    stroke: var(--green);
  }
  #bongo-cat .terminal-frame,
  #bongo-cat .laptop-keyboard,
  #bongo-cat .headphone .speaker path:nth-child(2) {
    stroke: var(--blue);
  }
  #bongo-cat .terminal-code,
  #bongo-cat .headphone .speaker path:first-child {
    stroke: var(--cyan);
  }